@keyframes ltr-fadeout-slide {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
@keyframes rtl-fadein-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes question-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn-color {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
@keyframes btn-click {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
@mixin animation($name, $delay, $duration: 0s, $ll: ease) {
  animation: $name $delay $ll $duration 1 normal forwards;
}
