@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@-webkit-keyframes ltr-fadeout-slide {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}
@keyframes ltr-fadeout-slide {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}

@-webkit-keyframes rtl-fadein-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rtl-fadein-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes question-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes question-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btn-color {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes btn-color {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@-webkit-keyframes btn-click {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes btn-click {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  font-size: 24px;
}

html .img-container,
body .img-container {
  position: absolute;
  pointer-events: none;
  top: 90%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

html .img-container img,
body .img-container img {
  opacity: 0.5;
  width: 20%;
  max-width: 100px;
}

#mainPage {
  background-image: url(../image/backimg.jpg);
  height: 100%;
  margin: 0px auto;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  max-width: 760px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainPage .title {
  margin-top: 20px;
}

#mainPage .title p {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#30cfd0));
  background: linear-gradient(to right, #fff 0%, #30cfd0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mainPage .title p:first-child {
  font-weight: 800;
  font-size: 42px;
  opacity: 0;
  -webkit-animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
}

#mainPage .title p:last-child {
  font-weight: 500;
  font-size: 24px;
  opacity: 0;
  -webkit-animation: rtl-fadein-slide 1s ease 0.5s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0.5s 1 normal forwards;
}

#mainPage .bottomLogo {
  opacity: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainPage .bottomLogo a {
  -webkit-animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
  width: 100px;
}

#mainPage .middle {
  width: 100%;
  text-align: center;
}

#mainPage .middle button {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainPage .middle button.startBtn {
  width: 300px;
  background-color: Transparent;
  border: 5px solid skyblue;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  margin: 4px;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rtl-fadein-slide 1s ease 0.75s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0.75s 1 normal forwards;
}

#mainPage .middle button:hover {
  background: skyblue;
  color: white;
}

#mainPage #resultPage {
  z-index: 2;
  height: 100%;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow-y: scroll;
}

#mainPage #resultPage > div {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#mainPage #loadingPage {
  z-index: 2;
  opacity: 0;
  padding-top: 50px;
  display: none;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#mainPage #testPage {
  z-index: 2;
  opacity: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  min-width: 320px;
  max-width: 760px;
}

#mainPage #testPage .header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainPage #testPage .header > img {
  pointer-events: none;
  width: 90%;
  max-width: 540px;
  padding-top: 20px;
}

#mainPage #testPage > .question {
  margin-top: 20px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  max-width: 650px;
  font-size: 20px;
  text-align: left;
  width: 90%;
}

#mainPage #testPage > .answerGroup {
  padding-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  height: 0;
  text-align: center;
  width: 90%;
  font-size: 20px;
  cursor: pointer;
}

#mainPage #testPage > .answerGroup .answer {
  color: white;
  margin-top: 20px;
  border: 3px solid white;
  padding: 10px 40px 10px 40px;
  border-radius: 52px;
  margin-top: 20px;
}

#mainPage #testPage > .answerGroup .answer:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: btn-color 1s ease 0s 1 normal forwards;
          animation: btn-color 1s ease 0s 1 normal forwards;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#mainPage #testPage > .answerGroup .answer:active {
  -webkit-animation: btn-click 1s ease 0s 1 normal forwards;
          animation: btn-click 1s ease 0s 1 normal forwards;
}

#mainPage #resultPage {
  color: whitesmoke;
}

#mainPage #resultPage .title,
#mainPage #resultPage .resultMindContent,
#mainPage #resultPage .resultTravelTitle,
#mainPage #resultPage .resultTravelContent {
  border: 3px solid whitesmoke;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainPage #resultPage .resultMindContent,
#mainPage #resultPage .resultTravelContent {
  text-align: left;
  font-size: 20px;
}

#mainPage #resultPage .resultMindContent ul,
#mainPage #resultPage .resultTravelContent ul {
  margin: auto;
  display: inline-block;
}

#mainPage #resultPage .resultMindContent {
  padding: 20px 10px 20px 10px;
}

#mainPage #resultPage .resultTravelContent {
  margin: 10px 10px 10px 10px;
}

#mainPage #resultPage .title,
#mainPage #resultPage .resultTravelTitle,
#mainPage #resultPage .resultMindTitle {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}

#mainPage #resultPage .resultMindTitle img {
  max-width: 360px;
  width: 90%;
}

#mainPage .trab .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#mainPage .trab .button-container button:first-child {
  margin-right: 10px;
}

#mainPage .trab .button-container .button {
  cursor: pointer;
  background-color: #008cba;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#mainPage .trab p {
  text-align: center;
}

#mainPage .trab .info button {
  border: none;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

#mainPage .trab .info p {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 3px 5px 3px;
  background-color: whitesmoke;
  color: black;
}

#mainPage .trab .info p a:link {
  color: black;
  text-decoration: none;
}

#mainPage .trab .info p a:visited {
  color: black;
  text-decoration: none;
}

#mainPage .trab .info p a:hover {
  color: black;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */