@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
@-webkit-keyframes ltr-fadeout-slide {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}
@keyframes ltr-fadeout-slide {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}

@-webkit-keyframes rtl-fadein-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rtl-fadein-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes question-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes question-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btn-color {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes btn-color {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@-webkit-keyframes btn-click {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes btn-click {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

* {
  font-family: "Poor Story", cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  font-size: 24px;
}

#mainPage {
  background-image: url(../image/backimg.jpg);
  height: 100%;
  margin: 0px auto;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 460px;
  max-width: 760px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainPage .title {
  margin-top: 100px;
}

#mainPage .title p {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#30cfd0));
  background: linear-gradient(to right, #fff 0%, #30cfd0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mainPage .title p:first-child {
  font-weight: 800;
  font-size: 42px;
  opacity: 0;
  -webkit-animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
}

#mainPage .title p:last-child {
  font-weight: 500;
  font-size: 24px;
  opacity: 0;
  -webkit-animation: rtl-fadein-slide 1s ease 0.5s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0.5s 1 normal forwards;
}

#mainPage .bottomLogo {
  position: absolute;
  right: 0px;
  bottom: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainPage .bottomLogo a {
  -webkit-animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0s 1 normal forwards;
  width: 100px;
}

#mainPage .middle {
  width: 100%;
  text-align: center;
}

#mainPage .middle button {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainPage .middle button.startBtn {
  width: 300px;
  background-color: Transparent;
  border: 5px solid skyblue;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  margin: 4px;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rtl-fadein-slide 1s ease 0.75s 1 normal forwards;
          animation: rtl-fadein-slide 1s ease 0.75s 1 normal forwards;
}

#mainPage .middle button:hover {
  background: skyblue;
  color: white;
}

#mainPage #resultPage {
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#mainPage #loadingPage {
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#mainPage #testPage {
  opacity: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 460px;
  max-width: 760px;
}

#mainPage #testPage .header > img {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 540px;
  padding-top: 20px;
}

#mainPage #testPage > .question {
  margin-top: 20px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  max-width: 650px;
  font-size: 32px;
}

#mainPage #testPage > .answerGroup {
  padding-top: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  cursor: pointer;
}

#mainPage #testPage > .answerGroup .answer {
  color: white;
  margin-top: 20px;
  border: 3px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 52px;
}

#mainPage #testPage > .answerGroup .answer:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: btn-color 1s ease 0s 1 normal forwards;
          animation: btn-color 1s ease 0s 1 normal forwards;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#mainPage #testPage > .answerGroup .answer:active {
  -webkit-animation: btn-click 1s ease 0s 1 normal forwards;
          animation: btn-click 1s ease 0s 1 normal forwards;
}
/*# sourceMappingURL=index.css.map */