@import "animation";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  font-size: 24px;
}

#mainPage {
  background-image: url(../image/backimg.jpg);
  height: 100%;
  margin: 0px auto;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  max-width: 760px;
  transition: all 0.5s;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 20px;

    p {
      width: 100%;
      text-align: center;
      margin-top: 0px;

      background: linear-gradient(to right, #fff 0%, #30cfd0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:first-child {
        font-weight: 800;
        font-size: 42px;
        opacity: 0;
        @include animation(rtl-fadein-slide, 1s);
      }
      &:last-child {
        font-weight: 500;
        font-size: 24px;
        opacity: 0;
        @include animation(rtl-fadein-slide, 1s, 0.5s);
      }
    }
  }
  .bottomLogo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: all 0.5s;
    a {
      @include animation(rtl-fadein-slide, 1s);
      width: 100px;
    }
  }
  .middle {
    width: 100%;
    text-align: center;
    button {
      opacity: 0;
      transform-style: preserve-3d;
      transition: all 0.5s;
    }
    button.startBtn {
      width: 300px;
      background-color: Transparent;
      border: 5px solid skyblue;
      color: #fff;
      padding: 15px 0;
      text-align: center;
      display: inline-block;
      font-size: 50px;
      margin: 4px;
      border-radius: 15px;

      opacity: 0;
      transition: all 0.5s;
      @include animation(rtl-fadein-slide, 1s, 0.75s);
    }
    button:hover {
      background: skyblue;
      color: white;
    }
  }
  #resultPage {
    height: 100%;
    opacity: 0;
    display: none;
    transition: all 0.5s;
    position: relative;
    overflow-y: scroll;
    > div {
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  #loadingPage {
    opacity: 0;
    padding-top: 50px;
    display: none;
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  #testPage {
    opacity: 0;
    position: relative;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    min-width: 320px;
    max-width: 760px;
    .header {
      > img {
        width: 90%;
        max-width: 540px;
        padding-top: 20px;
      }
    }
    > .question {
      margin-top: 20px;
      color: white;
      transition: all 0.5s;
      opacity: 0;
      animation-delay: 3s;
      max-width: 650px;
      font-size: 20px;
      text-align: left;
      width: 90%;
    }
    > .answerGroup {
      padding-top: 20px;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      height: 0;
      text-align: center;
      width: 90%;
      font-size: 20px;

      cursor: pointer;
      .answer {
        color: white;
        margin-top: 20px;
        border: 3px solid white;
        padding: 10px 40px 10px 40px;
        border-radius: 52px;
        margin-top: 20px;
        &:hover {
          transition: all 0.2s ease-in-out;
          @include animation(btn-color, 1s);
          transform: scale(1.1);
        }
        &:active {
          @include animation(btn-click, 1s);
        }
      }
    }
  }
  #resultPage {
    color: whitesmoke;
    .title,
    .resultMindContent,
    .resultTravelTitle,
    .resultTravelContent {
      border: 3px solid whitesmoke;
      border-radius: 5px;

      padding-top: 20px;
      padding-bottom: 20px;
    }
    .resultMindContent,
    .resultTravelContent {
      text-align: left;
      font-size: 20px;
      ul {
        margin: auto;
        display: inline-block;
      }
    }
    .resultMindContent {
      padding: 20px 10px 20px 10px;
    }
    .resultTravelContent {
      margin: 10px 10px 10px 10px;
    }
    .title,
    .resultTravelTitle,
    .resultMindTitle {
      font-weight: 700;
      text-align: center;
      font-size: 24px;
    }
    .resultMindTitle {
      img {
        max-width: 360px;
        width: 90%;
      }
    }
  }
}
